/*-------------------------------------------------------------------------------
  1. Global
-------------------------------------------------------------------------------*/
/* 1.1 General */
@import url('bootstrap.min.css');
@import url('font-awesome.min.css');
@import url('ionicons.min.css');
@import url('animate.css');

html{
  font-size: 87%;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: 'Lora', serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.62;
  color:#767676;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ff7b7b;
}

::selection{
  background-color:#ff7b7b;
  color:#fff;
}

-webkit-::selection{
    background-color:#ff7b7b;
    color:#fff;
}

::-moz-selection{
    background-color:#ff7b7b;
    color:#fff;
}



/* 1.2 Loader */



.loader{
  position: fixed;
  overflow: hidden;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:#fff;
  color:#fff;
  text-align: center;
}

.loader-brand{
  position: absolute;
  left:0;
  width: 100%;
  top:50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
}


/* 1.3 Typography */



h1,
.h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 4.1em;
  line-height: 1.1;
  margin:0 0 0.3em;
}

h2,
.h2{
  font-family: 'Montserrat', sans-serif;
  position: relative;
  font-size: 2.1em;
  line-height: 1.4;
  font-weight: 700;
  color: #343434;
  margin-bottom: 0.5em;
}

h3,
.h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15em;
  line-height: 1.25;
  font-weight: 700;
  color:#343434;
  margin-top: 1.6em;
  margin-bottom: 0.8em;
}

h4,
.h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height:1.4;
  font-weight: 700;
  color:#343434;
  margin:0;
}

ul,
ol {
  margin-top:0px;
  margin-bottom: 10px;
}

ul{
  list-style: none;
  padding-left: 0;
}

.inline-list li{

  margin-right: 20px;
}

ol li,
ul li{
  margin-top: 10px;
}

p{
  margin:10px 0 0;
}

a {
  color:#ff7b7b;
  -webkit-transition: color .3s ease-out;
       -o-transition: color .3s ease-out;
          transition: color .3s ease-out;
}

a:hover,
a:focus {
  color:#ff7b7b;
  outline: none;
}

a:focus{
  text-decoration: none;
}



/* 1.4 Fields */



.form-control,
textarea.form-control{
  font-size: 1em;
  color: #9F9F9F;
  border-radius: 3em;
  padding: 1.4em 2em 1.4em;
  height: 3.2em;
  -webkit-box-shadow:none;
          box-shadow:none;
  -webkit-transition: all .15s;
       -o-transition: all .15s;
          transition: all .15s;
}

.form-control:focus {
  border-color: #ff7b7b;
  outline: 0;
  -webkit-box-shadow:none;
          box-shadow:none;
}


textarea.form-control{
  padding-top: 1em;
  border-radius: 1.5em;
  height: 7em;
  resize:none;
}

.form-control::-moz-placeholder {
  color: #9F9F9F;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #9F9F9F;
}

.form-control::-webkit-input-placeholder {
  color: #9F9F9F
}

.form-control.error{
  border-color: #ff7b7b;
}

.input-group-btn{
  font-size: inherit;
}

.wobble-error{
  -webkit-animation: hvr-wobble-horizontal 1s ease-in-out 0s 1 normal;
           animation: hvr-wobble-horizontal 1s ease-in-out 0s 1 normal;
}


label.error,
#mc-notification{
  font-family: 'Montserrat', sans-serif;
  display: block;
  text-align: left;
  font-size: 0.9em;
  font-weight: 400;
  margin:10px 20px 0;
}

label.error .fa{
  margin-right: 4px;
  color:#ff7b7b;
}

.b-primary{
  border-color:#ff7b7b;
}



/* 1.5 Buttons */



.btn{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 1;
  position: relative;
  display: inline-block;
  background:#ff7b7b;
  border:2px solid #ff7b7b;
  padding:1.4em 3em 1.4em;
  border-radius: 3em;
  text-decoration: none;
  color:#fff;
  text-transform: uppercase;
  -webkit-transition: background-color .3s ease-out;
       -o-transition: background-color .3s ease-out;
          transition: background-color .3s ease-out;
}

.btn .fa{
  font-size: 1.3em;
  margin-right: 5px;
  color: #fff;
}

.btn:focus{
  outline: none!important;
  -webkit-box-shadow:none;
  box-shadow: none;
}

.btn:hover,
.btn:focus{
  border-color:#ff7b7b;
  background-color:transparent;
  color: #ff7b7b;
}

.btn:hover .fa{
  color: #ff7b7b;
}

.btn-b-primary{
  border-color:#ff7b7b;
  background-color:transparent;
  color: #ff7b7b;
}

.btn-b-primary:hover,
.btn-b-primary:focus{
  background:#ff7b7b;
  border-color:#ff7b7b;
  color:#fff;
}

.btn-b-gray{
  border-color: rgba(35, 35, 35, 0.1);
  border-width: 2px;
  background-color: transparent;
  color:#343434;
}


.btn-b-white{
  border-color:#fff;
  background-color:transparent;
}



/* 1.6 Icons */



.icon{
  font-size: 3.8em;
  line-height: 1;
}



/* 1.7 Colors */



.text-white{
  color:#fff;
}

.text-opacity{
  opacity: 0.7;
}

.text-dark{
  color:#343434;
}

.text-primary{
  color:#ff7b7b;
}



/* 1.8 Backgrouns */



.bgc-white{
  background-color: #fff;
}

.bgc-light{
  background-color: #f7f7f7;
}

.bgc-primary{
  background-color:#ff7b7b;
}



/* 1.9 Content styles */



.layout{
  overflow: hidden;
}

.row-columns{
  margin-top: -4em;
}

.column{
  margin-top: 4em;
}

.section{
  padding: 7em 0;
}

.section-sm{
  padding: 4em 0;
}

.section-body{
  margin-top: 6.5em;
}

.section-title{
  margin-top: 0;
}

.lead-text{
  font-size: 1.4em;
  line-height: 1.68em;
  margin-top: 0;
}

.masked{
  position: relative;
}

.masked:after{
  content:'';
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.rel-1{
  position: relative;
  z-index: 1;
}

.mobile *{
  background-attachment: scroll!important;
}

.pt-0{
  padding-top: 0;
}

.pb-0{
  padding-bottom: 0;
}

.top-space-sm{
  margin-top: 2.5em;
}




/*-------------------------------------------------------------------------------
  2. Header
-------------------------------------------------------------------------------*/



.navbar{
  position: absolute;
  z-index: 10;
  top:0;
  left:0;
  width: 100%;
  padding:20px 0;
  margin:0;
  border:0;
  border-radius: 0;
}
.navbar.menu-gallary-header{
position: relative;
}
.navbar-header{
  margin-left: 0!important;
}

.navbar-toggle .icon-bar{
  background-color: #ff7b7b;
  height: 2px;
  width: 30px;
}

.navbar-toggle .icon-bar + .icon-bar{
  margin-top: 5px;
}

.navbar-toggle.collapsed .icon-bar{
  background-color: #fff;
}


@media (max-height: 320px ){
  .navbar .navbar-collapse{
    max-height: 240px;
  }
}



/* 2.1 Brand */



.brand{
  margin-top: 1em;
  display: inline-block;
  text-align: center;
}

.brand:hover,
.brand:focus{
  text-decoration: none;
}

.brand-img-white{
  display: inline-block;
}

.brand-img{
  display: none;
}



/* 2.2 Navigation */



.navbar-nav{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 3em;
  margin:0;
}

.navbar-nav li{
  position: relative;
  margin-top: 0;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.navbar-nav li a{
  color: #fff;
  text-decoration: none;
  padding:12px 20px;
  -webkit-transition:background-color 0.3s;
  -o-transition:background-color 0.3s;
  transition:background-color 0.3s;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus,
.navbar-nav .active > a{
  background-color: transparent;

}

.navbar-nav > li > a:hover,
.navbar-nav > .active > a{
  background-color: #ff7b7b;
}

.navbar-nav li ul{
  font-size: 14px;
}

.navbar-nav li li{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.navbar-nav li li:last-child{
  border-bottom: 0;
}

.navbar-nav li li a{
  display: block;
  padding: 15px 20px;
  color: #adadad;
}

.navbar-nav li li a .fa{
  margin-right: 10px;
}

.navbar-nav li:hover{
  z-index: 1;
}

.navbar-nav li:hover > ul{
  opacity: 1;
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}



/* 2.3 Affix */



.navbar{
  position: fixed;
  top:0;
  background-color:rgba(255,255,255,0.95);
  padding:0.7em 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar .brand{
  margin-top: 0;
}

.navbar .brand-img-white{
  display: none;
}

.navbar .brand-img{
  display: inline-block;
}

.navbar .navbar-nav{
  padding-top: 0.6em
}

.navbar .navbar-nav li a{
  color: #4B4B4C;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > .active > a{
  color: #fff;
}

.navbar .navbar-toggle{
  margin-top: 0;
}

.navbar .navbar-toggle.collapsed .icon-bar{
  background-color: #ff7b7b;
}


.content-sec img {

    max-width: 100%;

}
/*-------------------------------------------------------------------------------
  3. Home
-------------------------------------------------------------------------------*/



.masthead{
  background: url(../img/bg/masthead.jpg) 50% 0 no-repeat;
  background-size: cover;
}

.masthead .btn:hover,
.masthead .btn:focus{
  color: #fff;
  background-color: #f65858;
  border-color: #f65858;
}

.masthead .lead-text{
  opacity: 0.9;
}

.opener{
  display: table-cell;
  vertical-align: middle;
  color:#fff;
  padding: 13em 0 7em;
  width: 100000px;
  height: 100vh;
}

.control{
  margin-top:2.2em;
}

.play-home{
  opacity: .9;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.play-home:hover,
.play-home:focus{
  opacity: .5;
  text-decoration: none;
  color:#fff;
}

.play-home img{
  display: inline-block;
  width: 5.6em;
}

.play-home span{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.72em;
  letter-spacing: 0.1em;
  margin-left: 1em;
}


/* ------------------------------------------------------------------------------- */
/*  5. Prices
/* ------------------------------------------------------------------------------- */



.prices{
  text-align: center;
  background: url(../img/bg/prices.jpg) 50% no-repeat;
  background-size: cover;
}

.prices.masked:after{
  background-color: rgba(0,0,0,0.4);
}

.col-price{
  text-align: left;
  width: 100%;
  max-width: 500px;
  display:inline-block;
  position: relative;
  padding: 15px;
}

.price-box{
  position: relative;
  background-color: #fff;
}

.price-inner{
  padding-bottom: 40px;
}

.price-title{
  padding:2em 3em 1.7em;
  margin-bottom: 0;
  font-size:0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #f7f7f7;
}

.price{
  font-family: 'Montserrat', sans-serif;
  padding:2em 3em;
  line-height: 1;
  color: #343434;
  border-bottom: 1px solid #dddddd;

}

.price-currency{
  display: inline-block;
  vertical-align: top;
  font-size: 2em;
}

.price-amount{
  font-size: 4em;
}

.price-delimiter{
  font-size: 3em;

}

.price-period{
  font-size: 1em;
}

.price-features{
  padding:1em 3em;
}

.price-features ul{
  margin-top: 0;
}

.price-features ul li{
  padding: 8px 0;
}

.col-price.leading{
  z-index: 1;
}

.col-price.leading .price-title{
  color: #fff;
  background-color: #ff7b7b;
}

.price-footer{
  padding:0 3em;
}



.footer{
  padding:2em 0;
}

.footer .copy{
  margin-top: 1em;
}

.social a{
  font-size: 1.1em;
  display: inline-block;
  padding: 1px;
  margin:0 15px;
  color: #C2C2C2;
}

.social a:hover{
  color: #ff7b7b;
  text-decoration: none;
}


/* ------------------------------------------------------------------------------- */
/*  10. Modals
/* ------------------------------------------------------------------------------- */



body:not(.modal-open){
  padding-right:0!important;
}

.modal{
  text-align: center;
}

.modal label.error{
  color: #ff7b7b;
}

.modal.fade .modal-dialog{
  -webkit-perspective: 1300px;
          perspective: 1300px;
}

.modal-content{
  border-radius: 1em;
  border:0;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition:.5s ease-out;
       -o-transition:.5s ease-out;
          transition:.5s ease-out;
}

.modal.fade.in .modal-content{
  opacity: 1;
}

.modal-dialog{
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 90%;
  margin:25px auto;
}

.modal-content{
  -webkit-box-shadow:none;
  box-shadow: none;
}

.modal-header{
  padding: 3em 1.2em;
  border:0;
  min-height: 0;
  text-align: center;
}

.close{
  display: inline-block;
  font-weight: 100;
  line-height: 1;
  color:#9F9F9F;
  text-align: center;
  text-shadow: none;
  cursor: pointer;
  border-radius: 50%;
  opacity: 1;
  filter: alpha(opacity=1);
  -webkit-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
}

.close:hover,
.close:focus {
  color: #ff7b7b;
  opacity:1;
  filter: alpha(opacity=1);
}

.modal-header .close{
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  font-size: 2em;
}

.modal-title{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 1.8em;
  color: #ff7b7b;
}

.modal-subtitle{
  font-size: 16px;
  font-weight: 300;
}

.modal-body{
  padding: 0 4.2em 3em;
}

.modal-body .form-group{
  margin-bottom: 30px;
}

.modal-message .modal-content{
  padding-top: 55px;
  padding-bottom: 55px;
}



/* ------------------------------------------------------------------------------- */
/*  11. Responsive styles
/* ------------------------------------------------------------------------------- */



/* 11.1 Min width 768px */



@media (min-width: 768px){


  html{
    font-size: 94%;
  }



  /* Prices */



  .col-price{
    width: 45%;
  }


  /* Modals */



  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  .modal-dialog {
    width: 29em;
  }
}



/* 11.2 Min width 992px */



@media (min-width: 992px){

  html{
    font-size: 100%;
  }

  .text-right-md{
    text-align:right;
  }

  .text-left-md{
    text-align:left;
  }



  /* Navigation */



  .navbar-nav > li{
    border-bottom: 0;
    margin-left: 3em;
  }

  .navbar-nav li a{
    position: relative;
    padding:0;
    color:#fff;
  }

  .navbar-nav li a:hover,
  .navbar-nav li a:focus,
  .navbar-nav .active > a,
  .navbar-nav .active > a:hover{
    background-color: transparent;
  }

  .navbar .navbar-nav li a:hover,
  .navbar .navbar-nav .active a{
    color: #ff7b7b;
  }

  .col-price{
    width: 33%;
  }



  /* Footer */



  .footer .copy{
    margin-top: 0;
  }

}
